body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 5px;
}

#leftPanel {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 400px;
}

#rightPanel {
  position: absolute;
  top: 5px;
  left: 365px;
}

#map {
  height: 350px;
  width: 350px;
}

#toc {
  padding-top: 5px;
  width: 350px;
  height: 95%;
}

#breadCrumb {
  height: 50px;
}

#infoDiv {
  width: 100%;
  height: 95%;
}

#details {
  padding-bottom: 25px;
}

/* start react draggable */
.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}
.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}
/* end react draggable */

.scriptExpBg {
  background-color: rgb(241, 241, 241);
}


.card-holder {
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color:#e1e1e1;
}

.card-table-style {
  width: 100%;
}

.card-close-holder {
  width: 100%;
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
}

.card-nav-header {
  font-size: 12pt;
  font-weight: bold;
}

.card-nav-style {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color:#999;
}

.card-close-holder :hover {
  cursor: hand !important;
}

.jsonOdd {
  background: #eee;
}

.Collapsible__trigger {
  width: 100%;
  background-color: #e1e1e1;
  display: block;
  color: #000;
}

.collapse-open {
  width: 98%;
  background: url(./images/arrow_up.png) no-repeat top right;
  background-color: #e1e1e1;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px;
}

.collapse-close {
  width: 98%;
  background: url(./images/arrow_down.png) no-repeat top right;
  background-color: #e1e1e1;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px;
}

.vertical-spacer {
  height: 10px;
}

.padding {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
}

.padding20 {
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 25px;
}

.leftSideNode {
  text-align: left;
  float: left;
  top: 0px;
  left: 0px;
  width: 50%;
}

.rightSideNode {
  text-align: left;
  float: right;
  top: 0px;
  right: 0px;
  width: 50%;
}

.rowNode {
  text-align: left;
  top: 0px;
  display: inline-block;
  width: 150px;
  word-wrap: break-word;
}

.flex-table {
  display: flex;
  justify-content: space-between;
}

.overflow-handle {
  width: 500px;
  overflow-x: auto;
}

.table-size {
  min-width: 300px;
  overflow-x: auto;
}

.popup-link {
  color: blue;
}

.half {
  width: 50%;
}