body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 5px;
}

#leftPanel {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 400px;
}

#rightPanel {
  position: absolute;
  top: 5px;
  left: 365px;
}

#map {
  height: 350px;
  width: 350px;
}

#toc {
  padding-top: 5px;
  width: 350px;
  height: 95%;
}

#breadCrumb {
  height: 50px;
}

#infoDiv {
  width: 100%;
  height: 95%;
}

#details {
  padding-bottom: 25px;
}